DATABASE_HOST="localhost"
DATABASE_PORT=3306
DATABASE_NAME="carzen_db"
DATABASE_USER="root"
DATABASE_PASSWORD=123456789

# JWT settings
SECRET_KEY = "supersecretkey"  # in real apps: put in .env
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 30